button {
    position: relative;
}

button:before {
    content: '';
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -12px;
    width: 24px;
    height: 24px;
    border: 2px solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: opacity ease-in-out 1;
    animation: .4s linear infinite rotate;
}

button.sending {
    pointer-events: none;
    cursor: not-allowed;
}

button.sending:before {
    opacity: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.vertical-text {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    /* transform: translateY(-50%); */
    top: 40%;
    /* padding: 2.5rem 0.5rem 2.5rem 0.5rem; */
    font-size: calc(.75em + 0.5vw);

}